* {
  margin: 0;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

img {
  display: block;
}

.-Y35 {
  object-position: 0 -35px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 576px) {
  main {
    width: 100%;
  }
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  width: 100%;
  padding: 0;
}

.card {
  border-radius: 15px;
}
.card:hover {
  transform: scale(99.5%);
  background-color: #efefef;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1215686275);
  transition: 0.2s ease-in-out;
}

.card-rond {
  border-radius: 25px;
}

.-shadow {
  box-shadow: 3px 5px 15px #0000001f;
}

.loadingScreen {
  padding: 50px 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 3rem;
  color: #FF79DA;
  animation: loading 6s cubic-bezier(1, 0.01, 0.7, 1) forwards;
  -webkit-animation: loading 6s cubic-bezier(1, 0.01, 0.7, 1) forwards;
  -moz-animation: loading 6s cubic-bezier(1, 0.01, 0.7, 1) forwards;
  -o-animation: loading 6s cubic-bezier(1, 0.01, 0.7, 1) forwards;
}

@keyframes loading {
  from {
    background: white;
    opacity: 1;
    visibility: visible;
  }
  to {
    background: transparent;
    opacity: 0;
    visibility: hidden;
  }
}
header {
  padding: 1.3rem 0 0.8rem 0;
}
header a {
  display: flex;
  align-items: center;
  position: relative;
}
header a i {
  font-size: 4.4rem;
  align-self: center;
  margin-left: 5%;
  position: absolute;
}
@media screen and (max-width: 576px) {
  header a i {
    font-size: 1.4rem;
  }
}
header img {
  width: 45%;
  margin: 0 auto;
  max-width: 300px;
}

footer {
  background-color: #353535;
  display: flex;
  align-items: center;
}
footer .logo {
  font-size: 2.2rem;
  font-family: "Shrikhand", cursive;
  margin: 10px 0;
}
footer a {
  font-weight: 300;
  color: white;
  margin: 8px 0;
  font-size: 1.2rem;
  text-align: center;
  width: 40%;
}
footer strong {
  font-weight: 400;
  margin-left: 10px;
}
@media screen and (max-width: 576px) {
  footer {
    display: block;
    padding: 20px;
  }
  footer .logo {
    font-size: 1.2rem;
  }
  footer a {
    text-align: start;
    width: auto;
  }
}

.fond {
  width: 100%;
  height: 70vw;
  max-height: 400px;
  object-fit: cover;
  border-radius: 100px 100px 0 0;
}
@media screen and (max-width: 576px) {
  .fond {
    border-radius: 0;
  }
}

.container {
  position: relative;
  margin-top: -40px;
  padding: 20px 10px;
  border-radius: 35px 35px 0 0;
  background-color: #EAEAEA;
}

.section_plat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  column-gap: 50px;
}
@media screen and (max-width: 576px) {
  .section_plat {
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.8rem;
}

h2 {
  padding: 0 10px;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 10px;
}
h2::after {
  content: "";
  display: block;
  width: 40px;
  margin-top: 6px;
  border-bottom: 3px solid #99E2D0;
}

li {
  display: grid;
  grid-template-columns: 1fr 55px auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
  width: 95%;
  margin: 10px auto;
  padding-left: 10px;
  background-color: white;
  overflow: hidden;
  animation: crad-plat 1s cubic-bezier(1, 0.01, 0.7, 1) forwards;
}
li:hover {
  transition: all 400ms ease-in-out;
}
li:hover .icon {
  width: 4rem;
  transition: all 400ms ease-in-out;
}
li:hover .icon i {
  transform: rotate(0deg);
  transition: all 400ms ease-in-out;
}
@keyframes crad-plat {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
li h3 {
  grid-column: 1/span 2;
  grid-row: 1;
  margin-top: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
li .text {
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 10px;
  font-size: 0.95rem;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
li .prix {
  grid-column: 2;
  grid-row: 2;
  font-weight: 500;
  margin-left: 5px;
}
li .icon {
  grid-column: 3;
  grid-row: 1/span 2;
  width: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: white;
}
li .icon i {
  transform: rotate(100deg);
}

.titre {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.titre .icone {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 30px;
}
.titre .icone .-empty {
  z-index: 2;
  position: absolute;
  color: black;
  transition: opacity 0.35s ease-in-out;
  transition-delay: 0.5s;
  opacity: 1;
}
.titre .icone .-full {
  z-index: 0;
  position: absolute;
  font-weight: 900;
  color: transparent;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  transition: 0.35s ease-in-out;
}
.titre .icone .-full::after {
  content: "";
  height: 150%;
  width: 150%;
  display: block;
  position: absolute;
  top: 0px;
  right: -5px;
  background: #EAEAEA;
  border-radius: 15px 15px 20px 15px;
  transition: 2.5s;
}
.titre .icone:hover .-empty {
  opacity: 0;
}
.titre .icone:hover .-full::after {
  transform: translateY(-101%) rotate(360deg);
}
.titre i {
  align-self: center;
  font-size: 1.8rem;
  padding-right: 10px;
}

.commander {
  width: 30%;
  text-align: center;
  margin: 40px auto;
  padding: 15px 0;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
@media screen and (max-width: 576px) {
  .commander {
    width: 50%;
  }
}

/*# sourceMappingURL=Style_page.css.map */
