/*
faire les variable pour les couleurs
*/
* {
  margin: 0;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  width: 100%;
  padding: 0;
}

.card {
  border-radius: 15px;
}

.card-rond {
  border-radius: 25px;
}

.-shadow {
  box-shadow: 3px 5px 15px #0000001f;
}

.loadingScreen {
  position: fixed;
  z-index: 20;
  height: 100%;
  width: 100%;
  padding: 50% 0;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 3rem;
  color: #FF79DA;
  animation: 3s cubic-bezier(0.33, 0.1, 0.5, 1) Loading;
}

@keyframes Loading {
  from {
    opacity: 100%;
    background: white;
  }
  to {
    opacity: 0%;
    background: transparent;
    display: none;
  }
}
header {
  box-shadow: 10px 10px 10px #0000001f;
  padding: 1.3rem 0 0.8rem 0;
}
header img {
  width: 45%;
  margin: 0 auto;
  max-width: 300px;
}

.locate {
  background-color: #EAEAEA;
  font-weight: 400;
  text-align: center;
  padding: 0.9rem;
}
.locate i {
  margin-right: 10px;
}

#reservation {
  background-color: #F6F6F6;
  text-align: center;
  padding: 1.9rem 0;
}
#reservation h1 {
  margin: 0 40px;
  font-size: 1.55rem;
}
#reservation p {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0.8rem 0 1rem;
}
#reservation .resevation-btn {
  width: 60%;
  color: white;
  margin: 1.8rem auto;
  padding: 1rem 0;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 10px 10px 10px #0000001f;
}

#fonctionnement {
  padding: 40px 20px;
}
#fonctionnement h2 {
  padding-bottom: 10px;
}
#fonctionnement li {
  font-size: 15px;
  width: 85%;
  margin: 15px auto;
  background-color: #F6F6F6;
  padding: 20px;
}
#fonctionnement .fas {
  font-size: 20px;
  color: #7E7E7E;
  margin: 5px 20px;
}
#fonctionnement .c-1::before {
  content: "1";
}
#fonctionnement .c-2::before {
  content: "2";
}
#fonctionnement .c-3::before {
  content: "3";
}
#fonctionnement .fonct-card {
  display: flex;
}
#fonctionnement .fonct-card::before {
  display: block;
  width: 25px;
  height: 20px;
  margin-left: -30px;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  justify-self: initial;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}

#restaurants {
  background-color: #F6F6F6;
  padding: 3.3rem 0.5rem;
}
#restaurants ul li {
  width: 90%;
  margin: 10px auto;
  position: relative;
  max-width: 500px;
  max-height: 400px;
}
#restaurants ul li:nth-child(1)::after, #restaurants ul li:nth-child(2)::after {
  content: "Nouveau";
  display: inline;
  padding: 6px 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 4px 4px 4px #0000001f;
  position: absolute;
  top: 10px;
  right: 10px;
}
#restaurants img {
  width: 100%;
  height: 45vw;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 0 -35px;
}
#restaurants .card-txt {
  display: grid;
  grid-template: "titre icone" 20px "text icone" 35px;
  background-color: white;
  padding: 15px 15px 5px;
  border-radius: 0 0 15px 15px;
}
#restaurants h3 {
  grid-area: titre;
}
#restaurants p {
  grid-area: text;
  align-self: center;
}
#restaurants i {
  font-size: 30px;
  grid-area: icone;
  align-self: center;
  justify-self: center;
}
#restaurants i:hover, #restaurants #restaurants i:active {
  font-weight: 800;
  /* color: linear-gradient( $color-primaire, $color-secondaire); */
  color: #9356DC;
  background-image: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
}

footer {
  padding: 20px;
  background-color: #353535;
}
footer .logo {
  font-size: 1.2rem;
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
}
footer a {
  font-weight: 300;
  color: white;
  margin: 8px 0;
}
footer strong {
  font-weight: 400;
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
