.locate{
    background-color: $color-fond_2;
    font-weight: 400;
    text-align: center;
    padding: 0.9rem;
    box-shadow: inset 0 5px 5px -3px rgb(0,0,0,0.250);

    i{
        margin-right: 10px;
    }

}